.container {
    min-height: 100vh; /* minimum height = screen height */
    display: flex;
    justify-content: center;
    align-items: center;
}
.board {
    display: none;
}
.game-control {
    display: none;
    white-space: nowrap;
    overflow: hidden;
}
.game-body {
    padding-left: 50px;
    padding-right: 50px;
}